/**
 * @name Testing
 * @author gouse_soop
 * @description using basetwo.theme.css
*/

@import url('https://raw.githubusercontent.com/goose-soop/soup-s-themes/refs/heads/main/basetwo.theme.css');
@import url('https://raw.githubusercontent.com/goose-soop/soup-s-themes/refs/heads/main/new-ui-revamped.css');

:root {
  --main-color: #09658f;           /* Default is #478ce6 */
  --hover-color: #06364C;          /* Default is #2E3035 */
  --success-color: #15623F;        /* Default is #15bb39 */
  --danger-color: #3E0804;         /* Default is #a30606 */
  --timestamp-color: #c6f7ff;      /* Default is #c6f7ff */
  --channel-unread: #cacaca;       /* Default is #cacaca */
  --channel-color: #a8a8a8;        /* Default is #a8a8a8 */
  --muted-color: #616161;          /* Default is #616161. Muted channel color */
  --text-normal: #d3d3d3;          /* Default is #d3d3d3 */
  --text-muted: #707070;           /* Default is #707070 */
  --online-color: #00FF8B;         /* Default is #00FF8B */
  --idle-color: #FF9F00;           /* Default is #FF9F00 */
  --dnd-color: #FF0000;            /* Default is #FF0000 */
  --streaming-color: #5E00FF;      /* Default is #5E00FF */
  --offline-color: #676767;        /* Default is #676767 */
  --url-color: var(--main-color);
  --background-image: url('https://i.imgur.com/VK0KwKR.jpg');         /* This is your background image, if you want to import an image do: url('url here') */
  --background-shading: 70%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 3px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: rgba(0, 0, 0, 0.801);
  --user-popout-position: Bottom center;
  --user-popout-size: contain;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 101%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 7px;
  --user-modal-image: transparent;
  --user-modal-position: Bottom center;
  --user-modal-size: 100%;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.imgur.com/AVxx2Lp.png');
  --home-position: center;
  --home-size: 40px;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: var( --background-overlay);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */
