/**
 * @name vanitas :3
 * @author goose_soop
 * @description a theme edited by goose_soop :3 tehe
 * @website https://github.com/goose-soop/soup-s-themes
*/

@import url('https://raw.githubusercontent.com/goose-soop/soup-s-themes/main/base.theme.css');
@import url('https://raw.githubusercontent.com/goose-soop/soup-s-themes/refs/heads/main/soups-silly-css-snippets-from-others.css');

:root {
  --main-color: #09658f;
  --hover-color: #06364C;
  --success-color: #15623F;
  --danger-color: #3E0804;
  --url-color: var(--main-color);
  --background-image: url('https://i.imgur.com/VK0KwKR.jpg');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: rgba(0,0,0,0.9);
  --user-popout-position: Bottom center;
  --user-popout-size: contain;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 101%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 7px;
  --user-modal-image: transparent;
  --user-modal-position: Bottom center;
  --user-modal-size: 100%;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://i.imgur.com/AVxx2Lp.png');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #03A9F4;
  --channel-color: rgb(157,157,157,0.82);
  --muted-color: rgb(95,95,95,0.53);
  --online-color: #00FF8B;
  --idle-color: #FF9F00;
  --dnd-color: #FF0000;
  --streaming-color: #5E00FF;
  --offline-color: #676767;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */
